[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
numpy = "*"
pandas = "*"
pydantic = "*"
scikit-learn = "==1.4.0"

[dev-packages]
ipython = "*"
tqdm = "*"

[requires]
python_version = "3.11"
